
#pageWrapper{
    max-width: 70rem;
    margin: 0 auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main"
        "footer";
      
}




nav ul {
    margin-left: $gutter;
}

nav ul li {
    float: left;
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: .6rem 1rem;

}


 







