
#pageWrapper{
    grid-template-areas: 
        "header header"
        "navigation main"
        "footer footer";
    grid-template-columns: 200px auto;

}
nav div#links {
    display: none;
}

div#hamburger {
    display: none;
}

nav ul li a {
    padding: .8rem 1rem;

}



